nav {

}

nav a {

}

#viewport {
	border: dashed 1px #ccc;
	position: relative;
	overflow: hidden;
}

.main {
	overflow: hidden;
	padding: 10px;
	border: solid 1px #036;
	border-radius: 5px;
	width: 1200px;
}

.panel {
	width: 480px;
	float: left;
}

.result {
	width: 702px;
	float: left;
	padding-left: 18px;
	overflow: auto;
}

.panel, .step, .result {
	display: none;
}

.active {
	display: block;
}